### Dependencies & Artifacts ###

/node_modules
/dist

### Tooling ###

.husky
.vscode/
*.sublime-project
*.sublime-workspace
.phpintel/
.idea/

### Log Files ###

logs/
*_log
*.log
*.log*

### System Files ###

.DS_Store*
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.un~
