### Dependencies & Artifacts ###

dist/

### Dependencies ###

node_modules/

### Log Files ###

logs/
*_log
*.log
*.log*

### Tooling ###

.husky/
.vscode/
*.sublime-project
*.sublime-workspace
.phpintel/
.atom/
.idea/

### System Files ###

.DS_Store*
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.un~
